<div class="index-container">

  <div class="grid-index">
    <% @vehicules.each do |vehicule| %>
      <%= link_to vehicule_path(vehicule), class: "link-card" do%>
        <div class="index-card">

          <% if vehicule.photo.present? %>
            <%= cl_image_tag vehicule.photo.key, height: 200, width: 280, crop: :fill %>
          <% else %>
            <p>Image non disponible</p>
          <% end %>

          <p><%= vehicule.marque %></p>
          <p><%= vehicule.modele %></p>

        </div>

        <br><br><br>
      <% end %>
    <% end %>

  </div>
</div>
