<div class="vshow-container">

  <div class="vshow-titre">
    <h1>Show de la voiture </h1>
  </div>

  <div class="vshow-droite-gauche">

    <div class="vshow-gauche">
      <%= cl_image_tag @vehicule.photo.key, height: 200, width: 280, crop: :fill %>
      <p><%= link_to "revoir tout les vehicules", vehicules_path %></p>
    </div>

    <div class="vshow-droite">
      <p><%= @vehicule.marque %></p>
      <p><%= @vehicule.modele %></p>
    </div>

  </div>

</div>
