// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$noir: #0C0C0C;
$grisf: #2C3230;
$grisc: #A7A7A7;
$rouge: #BC0100;
$blanc: #FFF;
