.com-contener {
}



.com-titre {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  color: #fff;
  opacity: 0;
  transform: translateX(-30px);
  animation:  apparitionn 0.6s 0.1s ease-out forwards;
}

.com-titre h1 {
  animation: flasht 4s;
  animation-iteration-count: infinite;
  color: #fff;
  // font-family: 'Great Vibes', cursive;
  font-family: 'Lobster', cursive;
  font-size: 55px;
}
.com-droite-gauche-content {
  display: flex;
  justify-content: space-around;
}

.com-part-gauche {
  width: 50%;
  font-family: 'Lobster';
  text-shadow: 2px 2px 5px #111;
  font-size: 20px;
}

.com-part-gauche-com-seul {
  padding: 15px;
  border-radius: 5px;
  color: $noir;
  box-shadow: 1px 2px 4px #0C0C0C;

}

.com-all-one-w-rep {
  margin-bottom: 40px;

}


.com-bg-red {
  background-color: #9e1716; /* ou une autre couleur */
  border-radius: 50px 10px;
}

.com-bg-grey {
  background-color: #3b4441;
  border-radius: 50px 10px;
}

.com-nom {
  color: #fff;
}

.com-text {
 color: #ededed;
 font-family: 'Lobster two';
 font-style: italic;
}

.com-date {
  font-size: small;
  color: $noir;
  display: flex;
  justify-content: flex-end;
}

.com-part-gauche-com-rep-seul {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 8px;
  box-shadow: 1px 2px 2px #0C0C0C;
  text-shadow: none;
  border-radius: 10px 50px;

}

// .com-part-gauche .com-part-gauche-com-rep-seul:nth-child(2n) {
//   margin-top: 15px;
//   background-color: #ad2a2a;
//   padding: 15px;
//   border-radius: 5px;
//   border: 1px solid #ffffff30;
// }

.com-rep-nom {
  display: flex;
  justify-content: flex-end;
}

.com-admin {
  color: #e50000e8;
}






.com-part-droite {
  color: #fff;
  min-width: 30%;
}

.com-form {
  background-color: $noir;
  padding: 15px;
  border-radius: 5px;
  position: sticky;
  top: 20vh;
}

.com-votrecom {
  display: flex;
  justify-content: center;
}

.com-votrecom p {
  font-size: 24px;
  font-family: "Lobster";
}


.com-textarea {
  width: 100%;
  margin-bottom: 1rem;
  min-height: 100px;
}

.com-submit {
  display: flex;
  justify-content: center;
}

.com-submit input {
  color: #fff;
  background-color: $rouge;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  transition: 0.2s;
  font-family: "Lobster";

}

.com-submit input:hover {
  background-color: #5cb85c;
  transition: 0.2s;
}

.com-submit input:active {
  transform: scale(0.95);
  transition: 0.1s ease-in-out;

}


.blanc {
  color: #fff;
}

@media only screen and (max-width: 600px) {


  .com-droite-gauche-content {
    flex-direction: column-reverse;
    margin: 0px 20px;
  }

  .com-part-gauche {
    width: 100%;
    margin: 60px 0px;
  }

}


@media only screen and (max-width: 492px) {

  .com-titre {
    text-align: center;
  }




}
