.dash-content {
  background-color: $grisc;
  padding: 30px 0 200px 0;
}

// parti titre h1 h2 a

.dash-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.dash-titre-haut {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;

}

.dash-titre-haut h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: $grisf;
  text-shadow: #FFF 0px 0px 5px;

}

.dash-titre-bas {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.dash-titre-bas h6{
  color: #e6e6e6;
  text-shadow: #1c1c1c 0px 0px 5px;
}

.dash-title a{
  color: #fff;
}


// parti list Vehicules

.dash-all-vehicule-content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}

.dash-all-vehicules {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 5px solid #2c3230;
  border-radius: 5px;
}


// une ligne Vehicule

// une ligne style
.testdash {
  background-color: #6d2321; /* ou une autre couleur */
  // margin: 5px;
  transition: transform 0.3s ease;
  // border-radius: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid #2c32308f;
}


.testdash:hover {
  background-color: #6d2321de;
}


.dashborder:nth-child(2n) {
  background-color: #9e1716; /* ou une autre couleur */
}


.dashborder:nth-child(2n):hover {
  background-color: #9e1716de; /* ou une autre couleur */
}




// une ligne item

.testdash img{
  margin-left: 50px;
}

.testdash a{
  margin-left: 50px;
}

.dashborder a:hover{
  color: #fff;

}

.testdash a:last-child{
  color: #fff;
}





.deco-none{
  text-decoration: none;
  color: #111;
}




.dash-supp {
  display: flex;
}


.dash-croix {
  display: inline-block;
  background-color: #fff;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50px;
  text-align: center;
}


.dash-croix:hover {
  background-color: $grisf;
  color: #fff;

}


.dash-modif {
  //background-color: #fff;
  //padding: 8px 16px;
  //border-radius: 5px;
}

.dash-modif:hover {
  //background-color: $grisf;
  //color: #fff;
}


.dash-img {
  border-radius: 5px;
}


// .dash-nom {
//   min-width:3000px;
// }


.dash-corbeille a img{
  color: #fff;
}

.dash-add-btn {
  background-color: #DDAD1E;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.dash-add-btn:hover {
  background-color: #EAC454;
}


// commentaires

.dash-commentaire-content {
  color: #fff;
}

.one-com {
  background-color: $grisf;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.one-com p{
  margin-bottom: 0;
}

.dash-com-client-address {
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}

.dash-com-date {
  display: flex;
  justify-content: end;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.dash-all-vehicule-content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}

.dash-all-vehicules {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 5px solid #2c3230;
  border-radius: 5px;
}


.dash-yes-rep {
  color: forestgreen;
  margin-top: 10px;
  margin-bottom: 5px;

}

.dash-no-rep {
  color: $rouge;
  margin-top: 10px;
  margin-bottom: 5px;


}

.dash-com-fav {
  display: flex;
  justify-content: space-between;
}
