.dash-content {
  background-color: $grisc;
  padding: 30px 0 200px 0;
}

.dash-all-vehicule-content {
  display: flex;
  justify-content: center;

}

.dash-all-vehicules {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 5px solid #2c3230;
  border-radius: 5px;
}

.dashborder {

  // padding-top: 1rem;


}



.dashborder a:hover{
  color: #fff;

}

.testdash {
  background-color: #6d2321; /* ou une autre couleur */
  // margin: 5px;
  transition: transform 0.3s ease;
  // border-radius: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid #2c32308f;
}

.testdash img{
  margin-left: 50px;
}

.testdash a{
  margin-left: 50px;
}

.testdash a:last-child{
  color: #fff;
}



.testdash:hover {
 background-color: #6d2321de;
}


.dashborder:nth-child(2n) {
  background-color: #9e1716; /* ou une autre couleur */
}


.dashborder:nth-child(2n):hover {
  background-color: #9e1716de; /* ou une autre couleur */
}




.deco-none{
  text-decoration: none;
  color: #111;
}


.dash-nom {
  min-width:3000px;
}


.dash-supp {
  display: flex;
}

.dash-croix {
  display: inline-block;
  background-color: #fff;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50px;
  text-align: center;
}


.dash-croix:hover {
  background-color: $grisf;
  color: #fff;

}

.dash-modif {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}

.dash-modif:hover {
  background-color: $grisf;
  color: #fff;
}


.dash-img {
  border-radius: 5px;
}
