.dash-content {
  background-color: $grisf;
  padding: 30px 0 200px 0;
}

// parti titre h1 h2 a

.dash-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.dash-titre-haut {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;

}

.dash-titre-haut h1{
  font-family: 'Great Vibes', cursive;
  // font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: #fff;
  animation: flasht 3s;
  animation-iteration-count: infinite;

}

@keyframes flasht {

  0% {
    text-shadow: $grisc 0px 0px 0px;
  }
  20% {
    text-shadow: $grisc 0px 0px 5px;
  }
  40% {
    text-shadow: $grisc 0px 0px 0px;
  }
  60% {
    text-shadow: $grisc 0px 0px 5px;
  }
  80% {
    text-shadow: $grisc 0px 0px 0px;
  }
  100% {
    text-shadow: $grisc 0px 0px 0px;
  }

}
//    ICON CHOOSE

.dash-icon-container {
  display: flex;
  justify-content: center;
}

.dash-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin: 0px 30px;
  box-shadow: inset 3px 0 13px #bc0100ad;

}

.dash-icon-circle:hover {
  box-shadow: inset 3px 0 27px $rouge;

}

.dash-icon-circle:hover i{
  color: #fff;

}

.dash-icon-circle i{
  font-size: 24px;
  color: #ffffffcf
}


// END ICON CHOOSE

.dash-titre-categ {
  color: #fff;
  margin-top: 50px;
}

.dash-titre-categ h3{
  // text-shadow: $grisc 0px 0px 5px;
  font-family: 'Lobster', cursive;
}


.dash-titre-bas {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}



.dash-titre-bas h6{
  color: #e6e6e6;
  text-shadow: $grisc 0px 0px 5px;
}

.dash-title a{
  color: #fff;
  font-family: 'Lobster', cursive;

}


// parti list Vehicules

.dash-all-vehicule-content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}

.dash-all-vehicules {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 5px solid $grisc !important;
  border-radius: 5px;
}


// une ligne Vehicule

// une ligne style
.testdash {
  background-color: #6d2321; /* ou une autre couleur */
  // margin: 5px;
  transition: transform 0.3s ease;
  // border-radius: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid #2c32308f;
}


.testdash:hover {
  background-color: #6d2321de;
}


.dashborder:nth-child(2n) {
  background-color: #9e1716; /* ou une autre couleur */
}


.dashborder:nth-child(2n):hover {
  background-color: #9e1716de; /* ou une autre couleur */
}




// une ligne item

.testdash img{
  margin-left: 50px;
}

.testdash a{
  margin-left: 50px;
}

.dashborder a:hover{
  color: #fff;

}

.testdash a:last-child{
  color: #fff;
}





.deco-none{
  text-decoration: none;
  color: #111;
}




.dash-supp {
  display: flex;
}


.dash-croix {
  display: inline-block;
  background-color: #fff;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50px;
  text-align: center;
}


.dash-croix:hover {
  background-color: $grisc;
  color: #fff;

}


.dash-modif {
  //background-color: #fff;
  //padding: 8px 16px;
  //border-radius: 5px;
}

.dash-modif:hover {
  //background-color: $grisc;
  //color: #fff;
}


.dash-img {
  border-radius: 5px;
}


// .dash-nom {
//   min-width:3000px;
// }


.dash-corbeille a img{
  color: #fff;
}

.dash-add-btn {
  background-color: $rouge;
  padding: 8px 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.dash-add-btn:hover {
  background-color: #5cb85c;
}

// piece

.dash-piece-nom {
  margin-right: 10px;
}

.dash-piece-desc {
  margin-right: 10px;
  color: #fff;
}

.dash-piece-prix {
  color: #fff;
}

.dash-member-name {
  color: #fff;
  margin-left: 50px;
}


// commentaires

.dash-commentaire-content {
  color: #fff;
}

.one-com {
  background-color: $grisc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.one-com p{
  margin-bottom: 0;
}

.dash-com-client-address {
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}

.dash-com-date {
  display: flex;
  justify-content: end;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}

.dash-all-vehicule-content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

}

.dash-all-vehicules {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 5px solid #2c3230;
  border-radius: 5px;
}


.dash-yes-rep {
  color: forestgreen;
  margin-top: 10px;
  margin-bottom: 5px;

}

.dash-no-rep {
  color: $rouge;
  margin-top: 10px;
  margin-bottom: 5px;


}

.dash-com-fav {
  display: flex;
  justify-content: space-between;
}
