// Specific CSS for your home-page


.home-main-img {
  background-image: url(asset_path('alfaMainImg.jpg'));
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  height: 90vh;
}

.hero-image {


}

.hero-image img{
  height: 100vh;
  display: block;
  width: 100%;
  // height: auto;
  object-fit: cover;
  object-position: center;
}

.home-main-img a{
  background-color: rgba(255, 255, 255, 0.501);
  padding: 8px 16px;
  border-radius: 50px;
  border: 4px solid #606060;
}



.home-carrou {
  background-color: $noir;
  position: relative;
}



// video

.hero-video {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.home-gray-bar {
  position: absolute;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(44,50,48,0.5046219171262255) 50%, rgba(44,50,48,1) 100%);
  bottom: 0;
  min-height: 3vh;
  width: 100%;
  z-index: 10;
}
// text

.text-sur-video {
  color: #fff;
  margin-left: 120px;
  margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.text-sur-video h1 {
  font-family: 'Great Vibes', cursive;
  // font-family: 'Lobster', cursive;
  font-size: 7rem;
  font-weight: 600;
  opacity: 0;
  transform: translateX(-50px);
  animation:  apparition 0.6s 0.8s ease-out forwards;
}

.text-sur-video h1 span {
  font-size: 8rem;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

.text-sur-video h2 {
  font-family: 'Great Vibes', cursive;
  // font-family: 'Lobster', cursive;
  font-size: 4rem;
  opacity: 0;
  transform: translateX(-30px);
  animation:  apparition 0.4s 1.2s ease-out forwards;
  display: none;
}

// cheveron

.ball-big-contener {
  display: flex;
  justify-content: center;
}

.ball-contener {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3vh;
  align-items: center;
}
.ball {
  width: 35px; //35
  height: 35px;
  border-radius: 50%;
  border: 2px solid $grisc;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: bounce 3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}

.cheveron-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cheveron-down i{
  color: #dbdbdb;
}

@keyframes bounce {

  0% {
    transform: translateY(-50px);
  }
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }

}



/* Prefix Support */

ball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(
  .5, 0.05, 1, .5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  to {
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
  }
}

// carrou

.carrou-body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 16px;
  flex-direction: column;
	display: flex;
  height: 100vh;
  align-items: center;
  background-color: $grisf;
  position: relative;
}

.carrou-body h2 {
  margin-top: 20vh;
  margin-bottom: 20vh;
  color: #fff;
  text-shadow: $grisc 0px 0px 2px;
  font-family: 'Lobster', cursive;
  font-size: 55px;
}

.carrou-container {
  // position: absolute;
  // height: 300px;
  //width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}



.carrou-card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.carrou-card:not(:first-child) {
    margin-left: -50px;
}

.carrou-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.carrou-card:hover ~ .carrou-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.carrou-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.carrou-subtitle {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 50px;
}

.carrou-bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.carrou-emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.carrou-filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgb(14, 217, 0) 0%, rgb(217, 0, 0) 65%, rgb(255, 0, 0) 100%);
  transition: 0.6s ease-out;
}

.carrou-card:hover .carrou-filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.carrou-circle {
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carrou-circle img {
  border-radius: 5px;
  height: 124px;
  width: 174px;
  // filter: grayscale(70%);
  opacity: 0.3;
}

.carrou-card:hover img {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
  // filter: grayscale(0%);
  opacity: 1;
}

.carrou-stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.carrou-card:hover .carrou-stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
