// Specific CSS for your home-page


.home-main-img {
  background-image: url(asset_path('alfaMainImg.jpg'));
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  height: 80vh;
}

.home-main-img a{
  background-color: rgba(255, 255, 255, 0.501);
  padding: 8px 16px;
  border-radius: 50px;
  border: 4px solid #606060;
}
