.index-container {
  background-color: $grisf;
  min-height: 80vh;
}

@keyframes apparitionn {
  100% {
    opacity: 1;
    transform: none;
  }
}

.index-titre {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  opacity: 0;
  transform: translateX(-30px);
  animation:  apparitionn 0.6s 0.1s ease-out forwards;


}

.index-titre h1 {
  animation: flasht 4s;
  animation-iteration-count: infinite;
  color: #fff;
  // font-family: 'Great Vibes', cursive;
  font-family: 'Lobster', cursive;
  font-size: 55px;

}

.index-filter-container {
  display: flex;
  justify-content: center;

}

.index-filter-content {
  background-color: #ffffff12;
  border: 2px solid #fff;
  width: 50%;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  height: 190px;
}

.content-filter {
  display: flex;
  justify-content: space-between;
}

.filter-part-1 {
  display: flex;
  flex-direction: column;
}

.filter-part-1 select{
  margin-bottom: 10px;
  width: 130px;
  height: 30px;
  border: none;
  color: #fff;
  background-color: $noir;
  border-radius: 5px;
}

.filter-part-2 {
  display: flex;
  flex-direction: column;
}

.filter-part-2 div{
  margin-bottom: 15px;
}

.filter-part-2 label{
  width: 130px;
  color: #fff;
}

.filter-part-2 input{
  width: 130px;
}

.filter-two-btn {
  display: flex;
  justify-content: center;
}

.filter-two-btn input {
  background-color: #c10100;
  padding: 3px 6px;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.filter-two-btn a {
  position: absolute;
  bottom: 10px;
  right: 15px;
}


// FIN FILTER



// vehicule


.index-aucun-vehicule {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 6rem;
}

.index-card {
  background-color: #ededed;
  width: 280px;
  border-radius: 8px;
  // border: 1px solid $grisc;
  margin: 20px 10px;
  transition: transform 0.3s ease;
  box-shadow: 1px 5px 5px #0C0C0C;


}

.index-card:hover {
  transform: scale(1.05);


}

.index-card-stacy {
  background-color: $blanc;
  width: 280px;
  border-radius: 8px;
  // border: 1px solid $grisc;
  margin: 20px 10px;
}



.index-card-prix {
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

.index-card-titre {
  text-align: center;
  margin-top: 1rem;
}

.index-card p {
  color: #111;
  padding-left: 10px;
  margin-bottom: 0.4rem;
}

.grid-index{
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px
}

a.link-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-img {
  border-radius: 8px 8px 0 0;
}

.index-card-tag {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.index-card-tag p{
  font-size: 12px;
  margin: 0 3px;
  align-items: center;
  padding-left: 0;
  border-radius: 50px;
  border: 2px solid $grisf;
  padding: 0 3px;
  background-color: $grisf;
  color: #fff;

}

.index-card-btn {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.index-card-btn p{

  background-color: #c10100;
  padding-left: 0;
  margin: 5px 0;
  color: $blanc;
  width: 150px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;

}

.index-card-btn p:hover {

  background-color: #e20100;


}


.grisclair {
  color: $grisc !important;
}
