.index-container {
  background-color: $grisf;
  min-height: 80vh;
}

.index-titre {
  display: flex;
  justify-content: center;
  padding: 60px 0;

}

.index-titre h1 {
  background-image: linear-gradient(180deg, #ffffffbd 0%, #ffffff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; /* pour Safari */
}


.index-card {
  background-color: $blanc;
  width: 280px;
  border-radius: 8px;
  // border: 1px solid $grisc;
  margin: 20px 10px;
  transition: transform 0.3s ease;
  box-shadow: 1px 5px 5px #0C0C0C;


}

.index-card:hover {
  transform: scale(1.05);


}

.index-card-stacy {
  background-color: $blanc;
  width: 280px;
  border-radius: 8px;
  // border: 1px solid $grisc;
  margin: 20px 10px;
}



.index-card-prix {
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

.index-card-titre {
  text-align: center;
  margin-top: 1rem;
}

.index-card p {
  color: #111;
  padding-left: 10px;
  margin-bottom: 0.4rem;
}

.grid-index{
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px
}

a.link-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-img {
  border-radius: 8px 8px 0 0;
}

.index-card-tag {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.index-card-tag p{
  font-size: 12px;
  margin: 0 3px;
  align-items: center;
  padding-left: 0;
  border-radius: 50px;
  border: 2px solid $grisc;
  padding: 0 3px;
  background-color: $grisf;
  color: #fff;

}

.index-card-btn {
  display: flex;
  justify-content: center;
}

.index-card-btn p{

  background-color: $rouge;
  padding-left: 0;
  margin: 5px 0;
  color: $blanc;
  width: 150px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 2px;

}


.grisclair {
  color: $grisc !important;
}
