.member-container {
  background-color: $grisf;
  padding: 0 80px;
}

.member-titre {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: #fff;
  opacity: 0;
  transform: translateX(-30px);
  animation:  apparitionn 0.6s 0.1s ease-out forwards;
}

.member-titre h1 {
  animation: flasht 4s;
  animation-iteration-count: infinite;
  font-family: 'Lobster', cursive;
  font-size: 55px;
}

.grid-com{
  padding: 1em;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 100px
}

.member-card {
  box-shadow: 1px 5px 20px #0C0C0C;
  background-color: $grisf;
  border-radius: 20% 5%;
  transition: 0.3s ease-in-out;
  font-family: "Lobster";
}

.member-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.member-card p{
  margin-top: 1rem;
  text-shadow: 2px 3px 3px $grisf;
  font-size: 22px;
}

.member-card .member-name {
  color: #fff;
  font-size: 24px;
}

.member-photo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.member-photo img {
  border-radius: 50%;
  background-color: $grisc;
  box-shadow: 3px 5px 5px $grisf;
}

.member-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.member-card-text p {
  font-size: 26px;

}

.member-card-description {
  text-align: center;
  color: #ededed;
  min-height: 12rem;
  font-family: 'Lobster Two', cursive;
  font-style: italic;
}

.member-card-description p {
  text-shadow: 1px 3px 3px $noir;
}
