.piece-container {
  background-color: $grisf;
  min-height: 80vh;
}

.piece-titre {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 60px 0;
}

.piece-titre h1 {
  background-image: linear-gradient(180deg, #ffffffbd 0%, #ffffff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; /* pour Safari */
}


.piece-card {
  background-color: $grisc;
  width: 280px;
  border-radius: 8px;
  margin: 20px 10px;
  transition: transform 0.3s ease;
  box-shadow: 1px 5px 5px #111;
}

.piece-card:hover {
  transform: scale(1.05);
}

.piece-margin-b {
  margin-bottom: 1rem;
}

.piece-card p {
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px 3px $grisf;
  font-size: 22px;


}

.piece-card .piece-descrip {
  font-size: 18px;
  min-height: 5rem;
}

.piece-card .piece-prix {
  font-size: 16px;
}

.piece-index {
  padding: 1em;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px
}

a.link-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
