.service-contener {
  background-color: $grisf;
  min-height: 80vh;
  padding-bottom: 1rem;
}

.service-titre {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  opacity: 0;
  transform: translateX(-30px);
  animation:  apparitionn 0.6s 0.1s ease-out forwards;

}

.service-titre h1 {
  animation: flasht 4s;
  animation-iteration-count: infinite;
  color: #fff;
  // font-family: 'Great Vibes', cursive;
  font-family: 'Lobster', cursive;
  font-size: 55px;

}


.service-contener h2 {
  color: #fff;
  font-size: 40px;
  text-shadow: 3px 3px 3px #111;
  font-family: "Lobster";

}

.service-contener p {
  color: #ededed;
  font-size: 23px;
  text-shadow: 3px 3px 3px #111;
  margin: 0 3rem;
}

.service-block {
  margin: 0rem 0rem 6rem 0rem;
}



.service-rond-titre {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  margin-bottom: 3rem;
}

.service-rond {
  width: 45px;
  height: 45px;
  background-color: $rouge;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 1rem;
}

.service-rond-titre h2{
  margin-bottom: 0;
}

.service-titre-1 {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: translateX(-30px);
}

.service-titre-2 {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: translateX(-30px);
}

.service-titre-3 {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: translateX(-30px);
}

.service-titre-4 {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: translateX(-30px);
}

.service-titre-5 {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: translateX(-30px);
}

.service-titre-6 {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: translateX(-30px);
}

.service-text-1 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.service-text-2 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.service-text-3 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.service-text-4 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.service-text-5 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.service-text-6 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.show {
  transform: translateX(0px);
  opacity: 1;
}
