.sign-container {
  background-color: $grisf;
  color: #fff;
  padding: 20px 20px;
  min-height: 90vh;
}

.form-actions input {
  color: $grisf;
  background-color: #fff;
}

.form-actions input:hover {
  color: $grisf;
  background-color: #fff;
}
