.vshow-container {
  background-color: $grisf;
  min-height: 100vh;
}

.vshow-titre {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  opacity: 0;
  transform: translateX(-30px);
  animation:  apparitionn 0.6s 0.1s ease-out forwards;
}

.vshow-titre h1 {
  animation: flasht 4s;
  animation-iteration-count: infinite;
  color: #fff;
  font-family: 'Lobster';
  font-size: 43px;
}

.vshow-contener-carrou {
  display: flex;
  justify-content: center;
}

.vshow-gauche {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vshow-gauche img{
  border-radius: 20% 5%;
  box-shadow: 2px 2px 5px #0C0C0C;
  height: 400px;
  width: 560px;

}

.vshow-gauche p{
  margin-bottom: 0;
}

.vshow560 {
  width: 560px;
}

.vshow-gauche .vshow-prix {
  color: #fff;
  font-size: 2rem;
  text-align: end;
  padding-top: 1rem;

}

.vshow-gauche .vshow-prix p{
  color: #fff;
  font-family: "Lobster";
}

.vshow-back {
  margin-left: 70px;
}

.vshow-back i{
  font-size: 2rem;
  background-color:#6d2321;
  padding: 10px;
  border-radius: 5px;
}

.vshow-back i:hover{
  background-color: #9e1716;
}

.vshow-droite {
  color: #ededed;
  width: 50%;
  display: flex;
  justify-content: center;
}

.vshow-droite  .vshow-box-droite{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  width: 40%;
  font-weight: bold;
  font-style: italic;

}

.vshow-droite  .vshow-box-droite span{
  margin-left: 30px;

}

.vshow-droite p{
  margin-bottom: 0;
  background-color: #6d232173;
  margin-bottom: 10px;
}

.vshow-droite p:nth-child(2n){
  background-color: #9e171691;
}


// .vshow-droite p:hover{
//   text-shadow: 2px 3px 3px $rouge;
// }

.vshow-span-tableau {
  display: inline-block;
  width: 200px;

}
