.vshow-container {
  background-color: $grisf;
  min-height: 100vh;
}

.vshow-titre {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.vshow-titre h1 {
  background-image: linear-gradient(180deg, #ffffffbd 0%, #ffffff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; /* pour Safari */
}

.vshow-droite-gauche {
  display: flex;
}

.vshow-gauche {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vshow-gauche img{
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0C0C0C;

}

.vshow-gauche p{
  margin-bottom: 0;
}

.vshow560 {
  width: 560px;
}

.vshow-gauche .vshow-prix {
  color: #fff;
  font-size: 2rem;
  text-align: end;
  padding-top: 1rem;

}

.vshow-gauche .vshow-prix p{

  color: $grisc;
}

.vshow-gauche .vshow-back {
  width: 100%;
}

.vshow-gauche .vshow-back i{
  font-size: 2rem;
  background-color:#6d2321;
  padding: 10px;
  border-radius: 5px;
}

.vshow-gauche .vshow-back i:hover{
  background-color: #9e1716;
}

.vshow-droite {
  color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
}

.vshow-droite  .vshow-box-droite{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  width: 40%;
  font-weight: bold;

}

.vshow-droite  .vshow-box-droite span{
  margin-left: 15px;

}

.vshow-droite p{
  margin-bottom: 0;
  background-color: #6d2321;
  margin-bottom: 10px;
}

.vshow-droite p:nth-child(2n){
  background-color: #9e1716;
}

// .vshow-droite p:hover{
//   text-shadow: 2px 3px 3px $rouge;
// }

.vshow-span-tableau {
  display: inline-block;
  width: 200px;

}
