<div class="blacknav-container">

  <div class="blacknav-gauche">
    <%= image_tag("logoRondTrans.png", alt: "Supprimer", size: "60x60") %>
  </div>

  <div class="blacknav-droite">
    <p>contact:</p>
    <h4>03 21 89 56 00</h4>
  </div>

</div>
