<div class="footer-container">

  <div class="footer-haut">

    <div class="footer-adresse">

      <div class="footer-local">
        <div class="footer-adrss-longue">
          <p><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i></p>
          <div>
            <p>801 Av. Maxence Van Der Meersch,</p>
            <p>62780 Cucq</p>
          </div>

        </div>
        <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i>03 21 89 56 00</p>
        <p><i class="fa-solid fa-envelope" style="color: #ffffff;"></i>contact@planete-alfa.fr</p>
      </div>

      <div class="footer-social">
        <a href="https://www.facebook.com/Planetealfa/?locale=fr_FR" target="_blank" class="footer-fb"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i> Facebook</a>
      </div>

    </div>

    <div class="footer-calendrier">

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Lun</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Mar</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Mer</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Jeu</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Ven</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Sam</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p><i class="fas fa-calendar-alt" style="color: #ffffff;"></i> Dim</p>
        <p>08:30 - 18:00</p>
      </div>

    </div>

  </div>



</div>
