<div class="footer-container">

  <div class="footer-haut">

    <div class="footer-adresse">

      <div class="footer-local">
        <p>adresse</p>
        <p>telephone</p>
        <p>email</p>
      </div>

      <div class="footer-social">
        <p>facebook</p>
        <p>Insta</p>
        <p>Autre</p>
      </div>

    </div>

    <div class="footer-calendrier">

      <div class="footer-jour">
        <p>Lun</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p>Mar</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p>Mer</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p>Jeu</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p>Ven</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p>Sam</p>
        <p>08:30 - 18:00</p>
      </div>

      <div class="footer-jour">
        <p>Dim</p>
        <p>08:30 - 18:00</p>
      </div>

    </div>

  </div>

  <%# <div class="footer-copy">
    <p>© Copyright 2022 Planète Alfa. All right Reserved FLTD</p>
  </div> %>



</div>
