
<% if video_path("mainvideo.mp4").present? %>

  <div class="hero-video">
    <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, controls: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>
    <div class="home-gray-bar">
    </div>
  </div>

<% else %>
  <div class="hero-image">
    <%= image_tag "alfaMainImg.jpg" %>
  </div>
<% end %>









<!-- test carrou -->
<div class="carrou-body">


</div>
