.blacknav-container {
  background-color: $noir;
  color: $blanc;
  min-height: 90px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid $rouge;
  position: sticky;
  top: 0;
  z-index: 100;

}


.blacknav-container p{
  margin-bottom: 0;
}

.blacknav-droite {
  border-left: solid 1px $rouge;
  padding-left: 10px;
}

// test

.nvrainav-container {
  color: $blanc;
  height: 60px;
  display: flex;
  align-items: center;
}

.nvrainav-container a {
  margin-bottom: 0;
  height: 100%;
  line-height: 52px;
  padding: 0 10px;
  color: $blanc;

}


.nvrainav-container a:hover {

  color: #595959;
}

.nvrainav-container a.active {
  color: $rouge;
}
