.blacknav-container {
  background-color: $noir;
  color: $blanc;
  min-height: 10vh;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid $rouge;
  position: sticky;
  top: 0;
  z-index: 100;

}

.blacknav-container h4{
  font-size: 18px;
  font-family: "Lobster" !important;
}

.blacknav-container p{
  margin-bottom: 0;
  font-size: 18px;
}

.blacknav-droite {
  border-left: solid 1px $rouge;
  padding-left: 10px;
  font-family: "Lobster" !important;
}

// test

.nvrainav-container {
  color: $blanc;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nvrainav-container a {
  margin-bottom: 0;
  height: 100%;
  line-height: 52px;
  padding: 0 30px;
  color: $blanc;
  font-size: 22px;
  transition: 0.5s;
  font-family: "Lobster";

}

.nvrainav-container a:hover {
  translate: 0px -5px;
  transition: 0.3s;
  text-shadow: #A7A7A7 0px 0px 5px;
}

.nvrainav-container a.active {
  color: $rouge;
  text-shadow: none;
}
