.div-btn-pa {
  margin-top: 1rem;
}

.btn-pa {
  font-size: 20px;
  margin-left: 20px;
  background-color: #161618;
  padding: 10px 30px;
  width: fit-content;
  border-radius: 2px;
  border: 1px solid #dbdbdb80;
  color: $blanc;
  transition: .3s ease-in-out;
}

.btn-pa:hover {
  color: $blanc;
  border: 1px solid rgba(219, 219, 219, 0.8);
}
