.footer-container {
  background-color: $grisf;
  margin-top: 200px;
  position: relative;

}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('testun.png');
  background-repeat: repeat;
  background-size: auto; /* Garde la taille originale */
  opacity: 0.2; /* Applique une opacité de 50% */
  z-index: 0; /* Place derrière le contenu */
}

.footer-container p{
  color:  #fff;
}

.footer-haut {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid $grisc;
  border-bottom: 2px solid $grisc;
  padding: 25px 0;

}




.footer-adresse {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footer-adrss-longue {
  display: flex;
}

.footer-local {
  display: flex;
  flex-direction: column;
}

.footer-local i{
  margin-right: 20px;
  min-width: 16px;
}




.footer-local p:first-child {
  margin-bottom: 0rem;
}


.footer-social {
  display: flex;
}

.footer-social i{
  margin-right: 15px;
}

.footer-calendrier {
  width: 40%;
  text-align: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-jour {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grisc;
}

.footer-jour:last-child {
  border-bottom: none;
}

.footer-jour p{
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;


}

.footer-fb {
  color: #fff;
}

.footer-fb:hover {
  color: $grisc;
}


.footer-bas {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  // background-color: $noir;
}

.footer-bas p{
  margin-bottom: 0rem;
}

@media only screen and (max-width: 680px) {

  .footer-haut {
    width: 100%;
    flex-direction: column;
    padding: 0 2rem;

  }

  .footer-adresse {
    width: 100%;
    padding: 1rem 0;
  }

  .footer-calendrier {
    width: 100% !important;
    padding: 1rem 0;

  }

  .footer-container {
    padding-top: 0;
  }
}
