.footer-container {
  background-color: $grisf;
  padding-top: 200px;

}

.footer-container p{
  color:  #fff;
}

.footer-haut {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid $grisc;
  padding: 25px 0;

}




.footer-adresse {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footer-adrss-longue {
  display: flex;
}

.footer-local {
  display: flex;
  flex-direction: column;
}

.footer-local i{
  margin-right: 20px;
  min-width: 16px;
}




.footer-local p:first-child {
  margin-bottom: 0rem;
}


.footer-social {
  display: flex;
}

.footer-social i{
  margin-right: 15px;
}

.footer-calendrier {
  width: 40%;
  text-align: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-jour {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grisc;
}

.footer-jour:last-child {
  border-bottom: none;
}

.footer-jour p{
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;


}

.footer-fb {
  color: #fff;
}

.footer-fb:hover {
  color: $grisc;
}


.footer-bas {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: $noir;
}

.footer-bas p{
  margin-bottom: 0rem;
}

@media only screen and (max-width: 530px) {

  .footer-container {
    padding-top: 0;
  }


  .footer-haut {
    display: block;
    padding: 0 2rem;

  }

  .footer-adresse {
    width: 100%;
    padding: 1rem 0;
  }

  .footer-calendrier {
      width: 100%;
      padding: 1rem 0;

  }
}
