.form-container {
  background-color: $grisf;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-titre {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.form-titre h1 {
  background-image: linear-gradient(180deg, #ffffffbd 0%, #ffffff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; /* pour Safari */
}

.form-container select {
  display: block;
  padding: 0.75rem 0.75rem;
  margin: 0 0 40px 0;
  width: 100%;
}



.form-formulaire {
  width: 50%;
  display: flex;
  justify-content: center;
}

.form-formulaire .form-label {
  color: #ffffff;
}

.form-formulaire p {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0.5rem;

}

.form-input {
  display: flex;
  justify-content: center;
}

.form-formulaire input {
  margin: 0 0 40px 0;
  padding: 10px;
}

.form-formulaire .form-input .btn {

  background-color: $rouge;
  margin-top: 100px;
  margin-bottom: 200px;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  padding: 8px 16px;
}

.form-formulaire .form-input .btn:hover {

  background-color: #00ff2f;
  transition: 0.3s ease-in-out;
  transform: scale(1.08);


}
