// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.flash-test {
  color: rgb(115, 255, 0);
  background-color: aqua;
}

img {
  vertical-align: baseline !important;
}

body {
  background-color: $grisf;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('testtrois.png');
  background-repeat: repeat;
  background-size: auto; /* Garde la taille originale */
  opacity: 0.9; /* Applique une opacité de 50% */
  z-index: -1; /* Place derrière le contenu */
}
