<h1>index team</h1>


<div class="grid-com">
  <% @members.each do |member| %>
    <div class="member-card">
      <%= cl_image_tag member.photo.key, height: 200, width: 280, crop: :fill, class: "index-img" %>
      <%= member.nom %>
      <%= member.prenom %>
      <%= member.job %>
    </div>
  <% end %>
</div>
