<h1>index team</h1>


<% @members.each do |member| %>
  <br><br><br>
  <p>--------------</p>\
  <%= cl_image_tag member.photo.key, height: 200, width: 280, crop: :fill, class: "index-img" %>
  <%= member.nom %>
  <%= member.prenom %>
  <%= member.job %>

  <p>--------------</p>

<% end %>
